/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

@media (min-width: 473px) {
    main {
        padding-top: 5%;
    }
}


/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    #titu {
        /* font-size: 3rem; */
        transform: scale(1.1);
        transition: 1s transform linear;
        margin-top: 40px;
    }
    #logo {
        /* max-height: 130px !important;
        max-width: 130px !important; */
        transform: scale(1.1) translate(10px, 5px);
        transition: 1s transform linear;
    }
    header {
        @include alto(168px);
        transition: 1s height linear;
    }
    #menu {
        transform: translatey(10px);
        transition: 1s transform linear;
    }
}


/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    #titu {
        /* font-size: 3rem; */
        transform: scale(1.4);
        transition: 1s transform linear;
    }
    #logo {
        /* max-height: 130px !important;
        max-width: 130px !important; */
        transform: scale(1.2) translate(10px, 10px);
        transition: 1s transform linear;
    }
    header {
        @include alto(178px);
        transition: 1s height linear;
    }
    #menu {
        transform: translatey(20px);
        transition: 1s transform linear;
    }
}


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    #titu {
        /* font-size: 3rem; */
        transform: scale(1.6);
        transition: 1s transform linear;
    }
    #logo {
        /* max-height: 130px !important;
        max-width: 130px !important; */
        transform: scale(1.3) translate(12px, 10px);
        transition: 1s transform linear;
    }
    header {
        @include alto(195px);
        transition: 1s height linear;
    }
    #menu {
        transform: translatey(25px);
        transition: 1s transform linear;
    }
}


/* // X-Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    #titu {
        /* font-size: 3rem; */
        transform: scale(1.8);
        transition: 1s transform linear;
    }
    #logo {
        /* max-height: 130px !important;
        max-width: 130px !important; */
        transform: scale(1.4) translate(16px, 13px);
        transition: 1s transform linear;
    }
    header {
        @include alto(205px);
        transition: 1s height linear;
    }
    #menu {
        transform: translatey(35px);
        transition: 1s transform linear;
    }
}


/* // XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {
    #titu {
        /* font-size: 3rem; */
        transform: scale(2);
        transition: 1s transform linear;
    }
    #logo {
        /* max-height: 130px !important;
        max-width: 130px !important; */
        transform: scale(1.5) translate(18px, 16px);
        transition: 1s transform linear;
    }
    header {
        @include alto(215px);
        transition: 1s height linear;
    }
    #menu {
        transform: translatey(45px);
        transition: 1s transform linear;
    }
}